.popularCarSection {
    background-color: black;
    color: white;
    padding-bottom: 80px;
}

h2 {
    font-size: 1.3125rem;
    line-height: normal;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    font-style: italic;
    font-family: Lato, sans-serif;
    margin-bottom: revert;
    text-align: center;
    padding: 80px 0 40px;
    margin-bottom: 0;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.popularCar {
    width: 30%;
    margin: 0 10px;
    background-color: white;
    cursor: pointer;
    color: black;
}

.popularCar img {
    width: 100%;
}

.popularCarSection h2 {
    color: white;
}

.popularCarContent {
    padding: 20px;
}

.popularCarName {
    font-size: 20px;
    font-weight: 700;
}

.popularCarOption {
    font-size: 15px;
    color: #666666;
}

.price {
    font-size: 24px;
    font-weight: 700;
    margin: 20px auto 4px;
    color: #50af31;
}

.popularCarInfo {
    display: flex;
}

.popularCarInfo span {
    width: 50%;
    margin-bottom: 4px;
}

.label {
    color: #666666;
}

.value {
    color: #111;
    font-weight: 700;
}

.annonceBtn {
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        flex-wrap: wrap;
    }

    .popularCar {
        width: 100%;
        margin: 10px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container {
        flex-wrap: wrap;
    }

    .popularCar {
        width: 51%;
        margin: 0 auto 20px;
    }
}