.carSection {
    background: white;
    padding: 0 10px;
}

section {
    display: flex;
    justify-content: center;
}

.carImage {
    max-width: 60%;
    object-fit: cover;
}

.carDetails {
    max-width: 30%;
    padding: 16px;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carPrice {
    color: var(--main-color);;
    font-size: 1.2em;
}

.carBreadcrumbs {
    gap: 12px;
    padding: 0 30px;
}

.carBreadcrumbsButton {
    background: var(--main-color);
    /* color: white; */
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 15px 0;
    cursor: pointer;
    width: 100%;
}

@media screen and (max-width: 580px) {
    .carSection {
        flex-direction: column;
        align-items: center;
    }
    .carImage {
        max-width: 100%;
    }
    .carDetails {
        max-width: 100%;
        margin-left: 0;
        padding: 10px;
    }
}