.bannerTitle {
    position: absolute;
    top: 150px;
    right: 70px;
    font-size: calc(36px + 9*(100vw - 768px)/832);
    font-weight: 700;
    font-style: italic;
}

.bannerSubTitle1,
.bannerSubTitle2 {
    position: absolute;
    top: 230px;
    right: 70px;
    font-weight: 700;
    letter-spacing: .15rem;
}

.bannerSubTitle2 {
    top: 255px;
}

.header {
    max-width: 100vw;
}

.bannerImg {
    width: 100%;
}

.bannerBtn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    min-height: 1em;
    line-height: 45px;
    margin: 0;
    padding: 0 2.66666667em;
    font-size: .9375rem;
    border-radius: 0;
    color: #fff;
    background-color: #50af31;
    text-transform: uppercase;
    position: absolute;
    top: 300px;
    right: 70px;
}

.popularCarSection {
    background-color: black;
    color: white;
}

h2 {
    font-size: 1.3125rem;
    line-height: normal;
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #111;
    font-style: italic;
    font-family: Lato, sans-serif;
    margin-bottom: revert;
    text-align: center;
    padding-top: 20px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
}

.popularCar {
    width: 30%;
    margin: 0 10px;
    background-color: white;
    cursor: pointer;
    color: black;
}

.popularCar img {
    width: 100%;
}

.popularCarSection h2 {
    color: white;
}

.popularCarName {
    font-size: 20px;
}

.popularCarOption {
    font-size: 15px;
}