.Navbar {
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.Navbar a {
  display: flex;
  text-decoration: none;
}

.Navbar img {
  width: 200px;
}

.NavbarList {
  display: inline-flex;
  list-style: none;
}

.NavbarList a {
  font-size: 20px;
  margin: 0 20px;
  color: black;
}

.NavbarList li {
  align-self: center;
}

@media (max-width: 500px) {

  .NavbarList a {
    font-size: 1em;
  }
}