.footer {
    background-color: black;
    color: white;
}

.container {
    padding: 20px 40px;
}

.car-dealer-infos {
    display: flex;
}

.car-dealer-presentation {
    text-align: right;
}

.car-dealer-location,
.car-dealer-presentation {
    width: 50%;
}

.car-dealer-social-media {
    margin: 20px 0;
}

.social-media-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.social-media-icon {
    border-radius: 50%;
    background: #fff !important;
    box-shadow: none !important;
    color: initial;
    padding: 0.5em 0.65em;
    margin-right: 7px;
}

.icon-img {
    height: 16px;
    width: 16px;
}

footer p,
footer a,
footer span {
    margin-top: 0;
    margin-bottom: 6px;
    color: #7f7f7f;
}

@media screen and (max-width: 768px) {
    .car-dealer-infos {
        display: block;
    }

    .car-dealer-location,
    .car-dealer-presentation {
        width: 100%;
    }

    .car-dealer-presentation {
        text-align: left;
        margin-bottom: 20px;
    }
}