.footer {
    background-color: black;
    color: white;
}

.container {
    padding: 20px 40px;
}

.carDealerInfos {
    display: flex;
}

.carDealerPresentation {
    text-align: right;
}

.carDealerLocation,
.carDealerPresentation {
    width: 50%;
}

.carDealerSocialMedia {
    margin: 20px 0;
}

.socialMediaList {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.socialMediaIcon {
    border-radius: 50%;
    background: #fff !important;
    box-shadow: none !important;
    color: initial;
    padding: 0.6em 0.65em;
    margin-right: 7px;
}

.iconImg {
    height: 16px;
    width: 16px;
}

footer p,
footer a,
footer span {
    margin-top: 0;
    margin-bottom: 6px;
    color: #7f7f7f;
}

@media screen and (max-width: 768px) {
    .carDealerInfos {
        display: block;
    }

    .carDealerLocation,
    .carDealerPresentation {
        width: 100%;
    }

    .carDealerPresentation {
        text-align: left;
        margin-bottom: 20px;
    }

    a {
        padding: 20px;
    }
}